/* *{
  outline: 1px red solid;
  box-sizing: border-box;
} */

*{
  margin: 0;
  padding: 0;
}

body {
  background: #F0EFE8;
  margin: 0;
  font-family: 'Gotham', sans-serif;
}

.bar{
  text-align: center;
  background: #60ADDB;
  width: 100%;
  min-width: 1300px;
  max-width: 1400px;
  color: white;
  box-shadow: 8px 10px 9px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
}

header{
  position: relative;
  width: 100%;
  min-width: 1300px;
  max-width: 1400px;
  background: url(../assets/bg\ panel1.png) no-repeat center;
  background-size: cover;
  min-height: 400px;
}

.container{
  position: absolute;
  top: 20px;
  left: 750px;
  width: 45%;
  max-width: 1400px;
}

nav{
  overflow: hidden;
}

nav a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 15px;
  font-weight: 500;
  text-shadow: 2px 2px grey;
}

.sidebar{
  position: relative;
  margin-top: 125px;
  writing-mode: vertical-lr;
  float: right;
  background: #60ADDB;
  border-radius: 10px 0 0 10px;
}

.sidebar p{
  color: white;
  padding: 8px;
}

#service{
  width: 100%;
  min-width: 1300px;
  max-width: 1400px;
}

.judulgoodpencil{
  padding-top: 100px;
  width: 100%;
  min-width: 1300px;
  max-width: 1400px;
}

.judulutama{
  display: inline-flex;
  margin-left: 68px;
}

.judulutama h1{
  color: #6F809C;
}

.porto{
  background-color: #6F809C;
  border-radius: 10px 10px 0 0;
  display: inline-flex;
  float: right;
  margin-right: 68px;
}

.porto p{
  font-weight: 500;
  font-size: 19px;
  padding: 10px;
}

.porto a{
  text-decoration: none;
  color: white;
}

.rectangle {
  margin: 0 auto;
  margin-top: 5px;
  height: 2px;
  width: 90%;
  background-color: #6F809C;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
}

.notes{
  overflow: hidden;
  width: 90%;
  max-width: 1400px;
  margin-top: 5px;
  margin-left: 69px;
}

.baris1 p{
  display: inline;
  color: #6F809C;
  font-weight: 500;
}

.baris1 p:after{
  content:" ";
  display: inline;
  height: 2px;
  width: 85.1%;
  position: absolute;
  top: 589px;
  left: 135px;
  background: #FFA798;
}

.baris2{
  margin-top: 2px;
}

.baris2 p{
  display: inline;
  color: #6F809C;
}

.baris2 p:after{
  content:" ";
  display: inline;
  height: 2px;
  width: 48.9%;
  position: absolute;
  top: 610px;
  left: 630px;
  background: #FFA798;
}