/* *{
  outline: 1px red solid;
  box-sizing: border-box;
} */

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  background: #F0EFE8;
  margin: 0;
  font-family: 'Gotham', sans-serif;
}

.bar{
  text-align: center;
  background: #60ADDB;
  width: 100%;
  min-width: 1300px;
  color: white;
  box-shadow: 8px 10px 9px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
}

header{
  position: relative;
  width: 100%;
  min-width: 1300px;
  background: url(../assets/bg\ panel1.png) no-repeat center;
  background-size: cover;
  /* height: 30vw; */
  min-height: 400px;
}

@media only screen and (min-width: 1400px) and (max-width: 1520px){
  header{
    min-height: 450px;
  }
}

@media only screen and (min-width: 1521px) and (max-width: 1720px){
  header{
    min-height: 500px;
  }
}

@media only screen and (min-width: 1721px) and (max-width: 1920px){
  header{
    min-height: 520px;
  }
}

.container{
  position: absolute;
  top: 20px;
  left: 40vw;
  width: 55vw;
  max-width: 2000px;
}

nav{
  left: 52vw;
  width: 55vw;
  overflow: hidden;
}

nav a{
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.3vw;
  margin: 1vw;
  font-weight: 500;
  text-shadow: 2px 2px grey;
}

.grid_desc{
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.kiri{
  line-height: 30px;
}

.kiri p{
  color: white;
}

.kiri h2{
  color: white;
}

.kanan img{
  width: 15vw;
}

.rectangle_desc {
  margin-top: 3px;
  height: 2px;
  width: 70%;
  background-color: #FFE769;
}

.sidebar{
  position: relative;
  margin-top: 125px;
  writing-mode: vertical-lr;
  float: right;
  background: #60ADDB;
  border-radius: 10px 0 0 10px;
}

.sidebar p{
  color: white;
  padding: 8px;
}

/* #service{
  width: 100%;
  min-width: 1300px;
  max-width: 2000px;  
}

.judulgoodpencil{
  padding-top: 100px;
  width: 100%;
  min-width: 1300px;
  max-width: 2000px;
}

.judulutama{
  display: inline-flex;
  margin-left: 67px;
}

.judulutama h1{
  color: #6F809C;
}

.porto{
  background-color: #6F809C;
  border-radius: 10px 10px 0 0;
  display: inline-flex;
  float: right;
  margin-right: 68px;
}

.porto p{
  cursor:default;
  font-weight: 500;
  font-size: 19px;
  padding: 10px;
  color: #6F809C;
}

.porto a{
  text-decoration: none;
  color: white;
}

.rectangle {
  margin: 0 auto;
  margin-top: 3px;
  height: 2px;
  width: 90%;
  background-color: #6F809C;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
}

.notes{
  overflow: hidden;
  width: 90%;
  max-width: 1400px;
  margin-top: 5px;
  margin-left: 69px;
}

.baris1 p{
  display: inline;
  color: #6F809C;
  font-weight: 500;
}

.baris1 p:after{
  content:" ";
  display: inline;
  height: 2px;
  width: 84vw;
  max-width: 2000px;
  min-width: 1100px;
  position: absolute;
  top: 589px;
  left: 135px;
  background: #FFA798;
}

@media only screen and (min-width: 1400px) and (max-width: 1520px){
  .baris1 p:after{
    width: 85.4vw;
    max-width: 2000px;
    position: absolute;
    top: 638px;
    left: 135px;
  }
}

@media only screen and (min-width: 1521px) and (max-width: 1720px){
  .baris1 p:after{
    width: 87vw;
    max-width: 2000px;
    position: absolute;
    top: 685px;
    left: 135px;
  }
}

@media only screen and (min-width: 1721px) and (max-width: 1920px){
  .baris1 p:after{
    width: 87.7vw;
    max-width: 2000px;
    position: absolute;
    top: 705px;
    left: 135px;
  }
}

.baris2{
  width: 50%;
  overflow: hidden;
  margin-top: 2px;
}

.baris2 p{
  display: inline;
  color: #6F809C;
}

.baris2 p:after{
  content:" ";
  display: inline;
  height: 2px;
  width: auto;
  max-width: 2000px;
  min-width: 606px;
  position: absolute;
  top: 610px;
  left: 630px;
  background: #FFA798;
}

.rectangle_baris2{
  margin: 0 auto;
  margin-top: 0px;
  height: 2px;
  width: 90%;
  background-color: #FFA798;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);  
}

@media only screen and (min-width: 1400px) and (max-width: 1520px){
  .baris2 p:after{
    width: 52.8vw;
    max-width: 2000px;
    top: 656px;
    left: 630px;
  }
}

@media only screen and (min-width: 1521px) and (max-width: 1720px){
  .baris2 p:after{
    width: 58vw;
    max-width: 2000px;
    top: 707px;
    left: 630px;
  }
}

@media only screen and (min-width: 1721px) and (max-width: 1920px){
  .baris2 p:after{
    width: 60.6vw;
    max-width: 2000px;
    top: 725px;
    left: 630px;
  }
} */

.goodpencils{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vw;
  min-width: 1200px;
}

.goodpencils img{
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
}

.service{
  margin-top: 10px;
  width: 100%;
  min-width: 1200px;
  display: grid;
  grid-template-columns: repeat(7, 13vw);
  justify-content: center;
}

.item{
  text-align:left;
  display:inline-block;
}

.item img:hover{
  transform: translateY(-12px);
}

.item p{
  margin-left: 1.3vw;
  color: #6F809C; 
  font-family: 'Gotham', sans-serif; 
  font-size: 1vw;
  line-height: 1.4vw;
  font-weight: 400;
}

.item img{
  width: 12vw;
}

.rectangle {
  margin: 0 auto;
  margin-top: 3px;
  height: 2px;
  width: 90%;
  background-color: #6F809C;
}

#thedesigner{
  margin-top: 5vw;
}

.close{
  display: flex;
  justify-content: end;
  width: 100%;
}

.close img{
  margin-right: 5vw;
}

.textdesigner{
  display: flex;
  justify-content: center;
}

.search{
  display: flex;
  justify-content: center;
}

.device{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 100px;
}

.gembot{
  /* display: inline-flex; */
  justify-self: center;
}

.gembot img{
  width: 300px;
}

.komputer{
  /* display: inline-flex; */
  justify-self: center;
}

.komputer img{
  width: 500px;
}

.btn{
  width: 20%;
  height: 30%;
  position: absolute;
}

.btn img{
  width: 60px;
  position: absolute;
}

#btn1{
  top: 200px;
  /* left: 350px; */
  left: 50px;
}

#btn2{
  top: 238px;
  /* left: 390px; */
  left: 90px;
}

#btn3{
  top: 278px;
  /* left: 350px; */
  left: 50px;
}

#btn4{
  top: 239px;
  left: 310px;
}

.achievement{
  width: 100%;
  min-width: 1300px;
  background: #D9D9D9;
}

.head-achieve{
  padding-top: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
}

.karya{
  background: url(/assets/achievement\ bg.png) no-repeat;
  background-position: 100% 100px;
  background-size: 50px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.karya img{
  width: 220px;
}

.karya span img{
  margin-top: 100px;
  width: 60px;
}

.en_1{
  padding-top: 4vw;
  display: flex;
  justify-content: center;
}

.en_1 img{
  width: 100%;
}

.en_3{
  display: flex;
  justify-content: center;
}

.en_3 img{
  width: 100%;
}

.en_5{
  display: flex;
  justify-content: center;
}

.halloffame{
  background-color: #E5E5E5;
}

.halloffame img{
  width: 100%;
}

.footer_nav{
  background-color: #73BB9F;
  border-radius: 15px 15px 0 0;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 4fr;
  grid-template-areas:  "logo nav1 nav2 get contact";
}

.logo{
  grid-area: logo;
}

.logo img{
  padding: 30px 30px 30px 120px;
  width: 10vw;
}

.navigasi_bawah1{
  grid-area: nav1;
  display: flex;
  align-items: center;
}

.navigasi_bawah1 li{
  padding: 10px;
  list-style: none;
}

.navigasi_bawah1 a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.navigasi_bawah2{
  grid-area: nav2;
  display: flex;
  align-items: center;
}

.navigasi_bawah2 li{
  padding: 10px;
  list-style: none;
}

.navigasi_bawah2 a{
  margin-left: -6vw;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.contact{
  grid-area: contact;
  padding-top: 35px;
  padding-left: 7.5vw;
}

.contact p{
  color: white;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 1vw;
}

.get{
  grid-area: get;
  align-self: center;
}

.rectangle_foot{
  margin-top: 0px;
  height: 2px;
  width: 55%;
  background-color: white;
}

.icon{
  margin-top: 1.25vw;
}

.icon img{
  width: 25px;
}

.cursor {
  padding-top: 2vw;
  width: 40px; 
  height: 40px;
  position:absolute;
  left: 60%;
  -webkit-animation:linear infinite ease-in-out;
  -webkit-animation-name:run;
  -webkit-animation-duration:5s;
  -webkit-animation-timing-function: 2s;
  /* animation: move 5s infinite ease-in-out; */
}

@-webkit-keyframes run  {
  30% {
     left:60%;
     -webkit-transform:rotateY(0deg);
  }
  
  50% {
     left:76%;
     -webkit-transform:rotateY(0deg);
  }
  
  99% {
     left:60%;
  }
  
  100% {
     left:60%;
     -webkit-transform:rotateY(0deg);
  }

}


footer{
  height: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #4F5C72;
  justify-items: center;
  align-items: center;
}

.copyright p{
  margin-left: -15.5vw;
  font-size: 0.8vw;
  color: #ffdc90;
}

.goodweb{
  background: #6F809C;
  border-radius: 30px 30px 0 0;
}

.goodweb h1{
  padding-top: 0.5vw;
  color: #F0EFE8;
  margin-left: 10vw;
}

.goodweb p{
  color: #F0EFE8;
  margin-left: 10vw;
  padding-bottom: 0.5vw;
}

.website{
  padding-top: 5vw;
  padding-bottom: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.ulubelu img{
  margin-left: 5vw;
  width: 30vw;
}

.ubelu img{
  margin-right: 5vw;
  width: 30.5vw;
}

.team{
  margin-top: -6vw;
  height: 15vw;
  background-color: #F4F4F4;
}

.team-container{
  margin: 0 auto;
  width: 83%;
  padding-top: 3vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.jason img{
  width: 21vw;
}

.adeknya img{
  width: 22vw;
}

.gilbert img{
  width: 21vw;
}

.cathlin img{
  width: 22vw;
}

.foto{
  position: relative;
  top: -1vw;
  display: inline-block;
}

.profile{
  margin-left: 1vw;
  display: inline-block;
}

.profile span{
  font-weight: 500;
}

.profile h3{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile .skill1{
  color: #AD8CBC;
  font-size: 1vw;
  font-weight: 500;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.profile p{
  font-size: 0.9vw;
  color: #4E4E4E;
}

.profile a{
  text-decoration: none;
}

.profile a p{
  margin-top: 0.1vw;
  color: #AD8CBC;
}

.rectangle_profile1 {
  margin-top: 3px;
  height: 2px;
  width: 100%;
  background-color: #AD8CBC;
}


/* ----------------profile 2----------- */

.foto2{
  position: relative;
  top: -1vw;
  display: inline-block;
}

.profile2{
  margin-left: 0.8vw;
  display: inline-block;
}

.profile2 span{
  font-weight: 500;
}

.profile2 h3{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile2 .skill1{
  color: #539BC6;
  font-size: 0.9vw;
  font-weight: 500;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.profile2 p{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile2 a{
  text-decoration: none;
}

.profile2 a p{
  margin-top: 0.3vw;
  color: #539BC6;
}

.rectangle_profile2 {
  margin-top: 3px;
  height: 2px;
  width: 100%;
  background-color: #539BC6;
}


/* ----------------profile 3----------- */

.foto3{
  position: relative;
  top: -1vw;
  display: inline-block;
}

.profile3{
  margin-left: 0.8vw;
  display: inline-block;
}

.profile3 span{
  font-weight: 500;
}

.profile3 h3{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile3 .skill1{
  color: #539BC6;
  font-size: 0.9vw;
  font-weight: 500;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.profile3 p{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile3 a{
  text-decoration: none;
}

.profile3 a p{
  margin-top: 0.3vw;
  color: #539BC6;
}

.rectangle_profile3 {
  margin-top: 3px;
  height: 2px;
  width: 100%;
  background-color: #539BC6;
}

/* ----------------profile 4----------- */

.foto4{
  position: relative;
  top: -1vw;
  display: inline-block;
}

.profile4{
  margin-left: 0.8vw;
  display: inline-block;
}

.profile4 span{
  font-weight: 500;
}

.profile4 h3{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile4 .skill1{
  color: #FD9C8B;
  font-size: 0.9vw;
  font-weight: 500;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
}

.profile4 p{
  font-size: 0.8vw;
  color: #4E4E4E;
}

.profile4 a{
  text-decoration: none;
}

.profile4 a p{
  margin-top: 0.3vw;
  color: #FD9C8B;
}

.rectangle_profile4 {
  margin-top: 3px;
  height: 2px;
  width: 100%;
  background-color: #FD9C8B;
}