@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

html, body {
  margin: 0;
  font-size: 16px;
  font-family: 'Gotham', sans-serif;
  background: #F0EFE8;
}

body{
  background: #F0EFE8;
}

.hamburger-menu{
  position: absolute;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: grey;
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
  background-color: grey;
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: grey;
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 50px;
  left: 35px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  border-radius: 9px;
  display: block;
  position: absolute;
  width: 100%;
  background-color: #6F809C;
  transition-duration: .25s;
}
.menu__btn > span{
  height: 8px;
}
.menu__btn > span::before{
  height: 8px;
}
.menu__btn > span::after{
  height: 8px;
}
.menu__btn > span::before {
  content: '';
  top: -16px;
}
.menu__btn > span::after {
  content: '';
  top: 16px;
}
.menu__box {
  z-index: 9;
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.background{
  background: url(../assets/bg\ header.png) no-repeat;
  background-size: cover;
}

.signature{
  padding-left: 20vw;
  padding-top: 30%;
  display: flex;
  justify-content: center;
}

.signature img{
  width: 50%;
}

.sidebar{
  position: relative;
  margin-top: 40%;
  writing-mode: vertical-lr;
  float: right;
  background: #60ADDB;
  border-radius: 3vw 0 0 3vw;
}

.sidebar p{
  color: white;
  padding: 8px 8px 10px 15px;
  font-size: 7vw;
}

.signatur-desc{
  letter-spacing: 3px;
  margin-left: 4rem;
  height: 140vw;
}

.signatur-desc p{
  margin-top: 3vw;
  color: white;
}

.signatur-desc h2{
  margin-top: -3vw;
  color: white;
}

.rectangle {
  height: 2px;
  width: 30%;
  background-color: #FFE769;
}

.judul{
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  width: 100%;
}

.gambar{
  width: 90%;
  overflow: hidden;
}

.gambar img{
  width: 100%;
  height: auto;
  display: block;
}

/* hwoto scale image responsively */
/* .container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}
 
.container img {
  max-width: 100%;
  height: auto;
  display: block;
} */



.contain_continent{
  width: 80%;
}

.updates{
  background-color: #F0EFE8;
  background-image: url(../assets/bg\ services.png);
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 0 30px;
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}

.carousel-control-prev-to,
.carousel-control-next-to {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  background: none;
  border: 0;
  transition: opacity 0.15s ease;
  border-radius: 50%;
  top: 90%;
}

.carousel-control-prev-to:hover, .carousel-control-prev-to:focus,
.carousel-control-next-to:hover,
.carousel-control-next-to:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-to {
  left: 0;
}

.carousel-control-next-to {
  right: 0;
}

.carousel-control-prev-icon-to,
.carousel-control-next-icon-to {
  display: inline-block;
  width: 10rem;
  height: 8rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon-to {
  background-image: url(../assets/ulubelu\ arrow\ slide\ 41.png);
}

.carousel-control-next-icon-to {
  background-image: url(../assets/ulubelu\ arrow\ slide\ 42.png);
}

.w-80 {
  width: 50% !important;
}

.rect{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.rectangle-grey {
  margin-top: 30vw;
  height: 2px;
  width: 90%;
  background-color: #6F809C;
}

.thedesign{
  background-color: #F0EFE8;
  margin-top: 10vw;
}

.close{
  display: flex;
  justify-content: end;
  width: 100%;
}

.close img{
  margin-right: 10vw;
}

.judul-search{
  margin-top: 10vw;
  display: flex;
  justify-content: center;
}

.search{
  margin-top: 4vw;
}

.search a{
  display: flex;
  justify-content: center;
}

.search img{
  width: 85%;
}

.gembot{
  margin-top: 15vw;
  display: flex;
  justify-content: center;
}

.gembot img{
  width: 55%;
}

.absolute-button{
  width: 40%;
  position: absolute;
  margin-left: 10vw;
}

.linkind{
  margin-top: 75vw;
  margin-left: 45vw;
  position: absolute;
}

.linkind img{
  width: 24vw;
}

.ig{
  margin-top: 90vw;
  margin-left: 60vw;
  position: absolute;
}

.ig img{
  width: 24vw;
}

.wa{
  margin-top: 105vw;
  margin-left: 45vw;
  position: absolute;
}

.wa img{
  width: 24vw;
}

.tas{
  margin-top: 90vw;
  margin-left: 30vw;
  position: absolute;
}

.tas img{
  width: 24vw;
}

.komputer{
  margin-top: 20vw;
  display: flex;
  justify-content: center;
}

.komputer img{
  width: 90%;
}

.judul-news{
  background-color: #6F809C;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 8vw 8vw;
  height: 20vw;
}

.rotate{
  display: inline-block;
}

.please{
  margin-left: 8vw;
  display: inline-block;
}

.please p{
  padding-top: 5vw;
  line-height: 10vw;
  font-size: 1.5rem;
  color: #F0EFE8;
}

.koran{
  background: #D9D9D9;
}

.koran img{
  width: 100%;
}

.achievement{
  background-image: url(../assets/achievement\ bg.png);
  background-repeat: no-repeat;
  background-position: 100% 15vw;
  background-size: 13%;
  width: 100%;
  background-color: #D9D9D9;
  height: 230vw;
  margin-top: -2vw;
}

.head-achieve{
  display: flex;
  justify-content: center;
}

.head-achieve img{
  width: 120vw;
}

.w-10 {
  width: 60% !important;
}

.carousel-control-prev-one,
.carousel-control-next-one {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  background: none;
  border: 0;
  transition: opacity 0.15s ease;
  border-radius: 50%;
  top: 105%;
}

.carousel-control-prev-one:hover, .carousel-control-prev-one:focus,
.carousel-control-next-one:hover,
.carousel-control-next-one:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-one {
  left: 0;
}

.carousel-control-next-one {
  right: 0;
}

.carousel-control-prev-icon-one,
.carousel-control-next-icon-one {
  display: inline-block;
  width: 5rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon-one {
  background-image: url(../assets/arrow\ right.png);
}

.carousel-control-next-icon-one {
  background-image: url(../assets/arrow\ left.png);
}

.rectangle-play1 {
  margin-top: 3px;
  height: 2px;
  width: 90%;
  background-color: #696969;
}

.rectangle-play2 {
  margin-top: 30vw;
  height: 2px;
  width: 90%;
  background-color: #696969;
}

.play{
  position: absolute;
  top: 145vw;
  left: 95vw;
}

.play img{
  width: 15vw;
}

.logofolio{
  margin-top: 15vw;
  border-radius: 15vw 15vw 0 0;
  background: #6F809C;
  height: 10vw;
}

.logofolio h1{
  padding-top: 0.8vw;
  margin-left: 20vw;
  font-size: 1.5rem;
  color: white;
}

.buku-logo{
  width: 100%;
}

.buku-logo img{
  width: 100%;
}

.head-goodweb{
  background: #6F809C;
  border-radius: 15vw 15vw 0 0;
}

.head-goodweb h1{
  margin-left: 20vw;
  font-size: 2rem;
  color: white;
}

.head-goodweb p{
  margin-left: 20vw;
  line-height: 20px;
  font-size: 1.5rem;
  color: white;
  font-weight: lighter;
  padding-bottom: 5vw;
}

.w-20 {
  width: 60% !important;
}

.carousel-control-prev-two,
.carousel-control-next-two {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  transition: opacity 0.15s ease;
}

.carousel-control-prev-two:hover, .carousel-control-prev-two:focus,
.carousel-control-next-two:hover,
.carousel-control-next-two:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-two {
  left: 0;
}

.carousel-control-next-two {
  right: 0;
}

.carousel-control-prev-icon-two,
.carousel-control-next-icon-two {
  display: inline-block;
  width: 5rem;
  height: 4rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon-two {
  background-image: url(../assets/arrow\ right.png);
}

.carousel-control-next-icon-two {
  background-image: url(../assets/arrow\ left.png);
}


.team{
  background-color: #F9F9F9;
  border-radius: 15vw 15vw 0 0;
}



/* -----------slider last-------------- */
.w-30 {
  width: 75% !important;
}

.carousel-control-prev-three,
.carousel-control-next-three {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  transition: opacity 0.15s ease;
}

.carousel-control-prev-three:hover, .carousel-control-prev-three:focus,
.carousel-control-next-three:hover,
.carousel-control-next-three:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev-three {
  left: 0;
}

.carousel-control-next-three {
  right: 0;
}

.carousel-control-prev-icon-three,
.carousel-control-next-icon-three {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.carousel-control-prev-icon-three {
  background-image: url(../assets/back\ play.png);
}

.carousel-control-next-icon-three {
  background-image: url(../assets/play.png);
}

.footer_nav{
  margin-top: -20vw;
  background-color: #73BB9F;
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -10px 15px 1px rgba(0, 0, 0, 0.20);
}

.navigasi{
  padding-top: 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.navigasi li{
  padding-top: 2vw;
  list-style: none;
  padding-bottom: 2vw;
}

.navigasi a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.rectangle_foot {
  margin-top: 3px;
  height: 2px;
  width: 80%;
  background-color: white;
}

.getgood{
  margin-top: 5vw;
  text-align: center;
  padding-bottom: 5vw;
}

.getgood h2{
  color: white;
  font-size: 2rem;
}

.contact{
  margin-bottom: 8vw;
  margin-top: 8vw;
}

.isicontact{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.wa-logo img{
  width: 10vw;
}

.email img{
  width: 10vw;
}

.tulisan-contact p{
  margin-top: 1.5vw;
  font-size: 1.85rem;
  color: white;
}

.goodpencil-logo{
  margin-top: 10vw;
  display: flex;
  justify-content: center;
  padding-bottom: 10vw;
}

.goodpencil-logo img{
  width: 50vw;
}

footer{
  background: #3E5F72;
  height: 20vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

footer p{
  padding-top: 5vw;
  margin-left: 5vw;
  color: white;
  font-size: 0.8rem;
}

footer img{
  margin-right: 5vw;
}